:root {
  --color-light: #fdfaf3;
  --color-gray: #313131;

  --color-white-lighter: rgba(255, 255, 255, 0.8);
  --color-white: rgb(255, 255, 255);

  --color-yellow-lighter: rgba(253, 229, 209, 0.8);
  --color-yellow: rgb(253, 229, 209);

  --color-orange-lightest: rgba(255, 163, 86, 0.3);
  --color-orange-lighter: rgba(255, 163, 86, 0.8);
  --color-orange: rgb(255, 163, 86);

  --color-blue-lightest: rgba(0, 37, 67, 0.7);
  --color-blue-lighter: rgba(0, 37, 67, 0.9);
  --color-blue: rgb(0, 37, 67);

  --color-black-lightest: rgba(0, 0, 0, 0.1);
  --color-black-lighter: rgba(0, 0, 0, 0.2);
  --color-black: rgb(0, 0, 0);
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  font-family: "Raleway", "Helvetica", sans-serif;
  color: var(--color-black);
  background-color: var(--color-light);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 35px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
    padding: 0 15px;
  }
}
