@import "fonts.css";
@import "globals.css";
@import "blocks/visually-hidden.css";
@import "blocks/menu.css";
@import "blocks/social.css";
@import "blocks/social-main.css";
@import "blocks/intro.css";
@import "blocks/main-screen.css";
@import "blocks/features.css";
@import "blocks/portfolio.css";
@import "blocks/stages.css";
@import "blocks/form.css";
@import "blocks/feedback.css";
@import "blocks/reviews.css";
@import "blocks/slider.css";
@import "blocks/page-footer.css";
