/* Блок form — Форма */

.form {
  width: 100%;
}

.form__item {
  position: relative;
  margin: 0;
  padding-top: 30px;
}

.form__label {
  position: absolute;
  top: 25px;
  left: 5px;
  display: none;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--color-orange);
}

.form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 17px 5px;
  font: inherit;
  font-weight: 400;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1.5px;
  color: var(--color-white);
  background-color: transparent;
  border: none;
  border-bottom: 2px solid var(--color-yellow-lighter);
  outline: none;
}

.form__input::-webkit-input-placeholder {
  font-size: 18px;
  color: var(--color-white-lighter);
  opacity: 1;
}

.form__input:-ms-input-placeholder {
  font-size: 18px;
  color: var(--color-white-lighter);
  opacity: 1;
}

.form__input::-ms-input-placeholder {
  font-size: 18px;
  color: var(--color-white-lighter);
  opacity: 1;
}

.form__input::placeholder {
  font-size: 18px;
  color: var(--color-white-lighter);
  opacity: 1;
}

.form__input:focus::-webkit-input-placeholder {
  font-size: 0;
}

.form__input:focus:-ms-input-placeholder {
  font-size: 0;
}

.form__input:focus::-ms-input-placeholder {
  font-size: 0;
}

.form__input:focus::placeholder {
  font-size: 0;
}

.form__input:focus ~ .form__label {
  display: block;
}

.form__button {
  display: block;
  width: 100%;
  margin-top: 60px;
  padding: 25px 0;
  font-weight: 800;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 2.5px;
  color: var(--color-white);
  text-transform: uppercase;
  background-color: var(--color-orange);
  border: none;
  border-radius: 5px;
  box-shadow: 5px 5px 30px 15px rgba(0, 0, 0, 0.07);
  cursor: pointer;
}

.form__info {
  margin: 0;
  margin-top: 20px;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.2;
  letter-spacing: 1px;
  color: var(--color-white-lighter);
}

@media (min-width: 1200px) {
  .form__label {
    top: 15px;
  }

  .form__input {
    padding: 10px 5px;
    font-size: 16px;
    line-height: 1;
  }

  .form__input::-webkit-input-placeholder {
    font-size: 16px;
  }

  .form__input:-ms-input-placeholder {
    font-size: 16px;
  }

  .form__input::-ms-input-placeholder {
    font-size: 16px;
  }

  .form__input::placeholder {
    font-size: 16px;;
  }

  .form__button {
    padding: 22px 0;
    font-size: 15px;
    line-height: 1;
    background-color: transparent;
    border: 2px solid var(--color-white);
  }

  .form__button:hover,
  .form__button:focus {
    background-color: var(--color-orange);
    transition: 0.2s ease-in-out;
  }

  .form__info {
    font-size: 14px;
  }
}
