/* Блок menu — Меню */

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 90%;
  margin: 0;
  padding: 0;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.6;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
}

.menu__link {
  display: block;
  margin: 0;
  color: var(--color-white);
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.menu__link:hover,
.menu__link:focus {
  color: var(--color-orange);
}

@media (min-width: 768px) {
  .menu {
    font-size: 22px;
    letter-spacing: 3px;
  }
}

@media (min-width: 1200px) {
  .menu__link {
    color: var(--color-white-lighter);
  }
}

/* Для модификатора блока меню menu в футере  */

.menu--footer {
  font-weight: 400;
  font-size: 15px;
}

.menu--footer .menu__link {
  margin-bottom: 15px;
}

@media (min-width: 768px) {
  .menu--footer {
    height: 80px;
    align-items: flex-start;
    flex-wrap: wrap;
  }
}

@media (min-width: 1200px) {
  .menu--footer {
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    font-size: 14px;
  }

  .menu__link {
    color: var(--color-white);
  }
}
