/* Блок меню site-list на главном экране — main-screen__site-list */

.site-list {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  padding-top: 100px;
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
  list-style: none;
}

.site-list__link {
  display: block;
  margin: 0;
  margin-bottom: 25px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.site-list__link:hover,
.site-list__link:focus {
  color: rgba(255, 163, 86, 1);
}
