/* Блок social — Социальные сети */

.social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.social__icon {
  display: block;
  fill: rgba(255, 255, 255, 0.9);
}

.social__icon:hover,
.social__icon:focus {
  fill: rgb(255, 163, 86);
}
