/* Блок stages — Этапы работы */

.stages {
  margin-top: 100px;
  margin-bottom: 100px;
}

.stages__title {
  margin: 0;
  margin-bottom: 45px;
  font-family: "Playfair Display", "Times New Roman", serif;
  font-weight: 700;
  font-size: 45px;
  line-height: 1.2;
  text-align: center;
  letter-spacing: 1px;
  color: var(--color-blue);
}

.stages__list {
  margin: 0;
  padding: 0;
  counter-reset: li; /* Инициализируем (запускаем) счетчик */
  list-style: none; /* Отменяем нумерацию установленную по умолчанию */
}

.stages__item:not(:last-child) {
  margin-bottom: 55px;
}

.stages__caption {
  position: relative;
  margin: 0;
  margin-bottom: 35px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
  color: var(--color-gray);
}

.stages__caption::after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 45px;
  height: 1px;
  background-color: var(--color-blue);
}

.stages__description {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.4;
  letter-spacing: 0.5px;
}

@media (min-width: 768px) {
  .stages__title {
    text-align: left;
  }

  .stages__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .stages__item {
    position: relative;
    width: calc((100% - 50px) / 2);
    margin-bottom: 70px;
    padding-left: 70px;
  }

  .stages__item:nth-child(5),
  .stages__item:nth-child(6) {
    margin-bottom: 0;
  }

  .stages__item::before {
    content: counter(li); /* В качестве данных используем счетчик */
    counter-increment: li; /* Увеличиваем значение счетчика на 1 */
    position: absolute;
    top: 0;
    left: 15px;
    width: 25px;
    height: 25px;
    padding-top: 5px;
    font-family: "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 1;
    text-align: center;
    color: var(--color-black);
    background-color: var(--color-orange-lightest);
    border-radius: 50%;
    box-shadow: 0 0 0 6px var(--color-light), 0 0 0 7px var(--color-orange-lightest), 0 0 0 13px var(--color-light), 0 0 0 14px var(--color-orange-lightest);
  }

  .stages__item:hover::before {
    background-color: var(--color-orange-lighter);
    box-shadow: 0 0 0 6px var(--color-light), 0 0 0 7px var(--color-orange-lighter), 0 0 0 13px var(--color-light), 0 0 0 14px var(--color-orange-lighter);
    transition: 0.2s ease-in-out;
  }
}

@media (min-width: 1200px) {
  .stages__item {
    width: calc((100% - 2 * 60px) / 3);
    padding-left: 80px;
  }

  .stages__item:nth-child(4),
  .stages__item:nth-child(5),
  .stages__item:nth-child(6) {
    margin-bottom: 0;
  }

  .stages__item span {
    left: 50px;
  }
}
